Source: ros-jade-nao-teleop
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-actionlib, ros-jade-catkin, ros-jade-naoqi-msgs, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-std-msgs, ros-jade-std-srvs
Homepage: http://ros.org/wiki/nao_remote
Standards-Version: 3.9.2

Package: ros-jade-nao-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib, ros-jade-joy, ros-jade-naoqi-msgs, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-std-msgs, ros-jade-std-srvs
Description: Teleoperation (gamepad or joystick) for the Nao humanoid
